<a>
  <div class="btn-edit" (click)="openEditor()">
    <i class="fa fa-pencil-square" aria-hidden="true"></i>
  </div>
</a>

<div class="container-editor" [ngClass]="toolEditor ? 'display': ''">
  <div class="tool-editor">
    <div class="btn-edit-close" (click)="closeEditor()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>

    <form #f="ngForm" (submit)="onUpdate()" *ngIf="datails" novalidate class="form">
      <!--<div class="mb-3">
        <h3 class="text-light ">Nombre Completo:</h3>
        <textarea class="form-control" id="exmpleFormControlTextarea1" name="nombreCompleto" [(ngModel)]="datails.nombreCompleto"  rows="1"></textarea>
      </div>
      <div class="mb-3">
        <h3 class="text-light pt-3">Profesión:</h3>
        <textarea class="form-control" id="exmpleFormControlTextarea1" name="profesion" [(ngModel)]="datails.profesion" rows="1"></textarea>
      </div>-->
      <h3 class="text-light pt-3">Foto perfil:</h3>
      <label for="file">
        <i class="fa fa-upload" aria-hidden="true"></i>
        Elja una imagen
      </label>
      <input formControlName="imagen" (change)="capturandoFile($event)" type="file" id="file">
      <div class="mb-3">
        <h3 class="text-light pt-3">Descripcion:</h3>
        <textarea class="form-control" id="exmpleFormControlTextarea1" name="descripcion" [(ngModel)]="datails.descripcion" rows="3"></textarea>
      </div>
      <div class="btn-cambios pb-2">
        <button type="submit">
          <span>Guardar cambios</span>
        </button>
      </div>
      <!--<h3 class="text-light pt-4">Skills:</h3>
      <label for="file">
        <i class="fa fa-upload" aria-hidden="true"></i>
        Elja un imagen
      </label>
      <input formControlName="imgPerfil" (onFileChanged)="capturandoFile($event)" type="file" id="file">-->
    </form>
  </div>
</div>
