<a>
  <div class="btn-edit" (click)="openEditor()">
    <i class="fa fa-pencil-square" aria-hidden="true"></i>
  </div>
</a>

<div class="container-editor" [ngClass]="toolEditor ? 'display': ''" *ngIf="details">
  <div class="tool-editor">
    <div class="btn-edit-close" (click)="closeEditor()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>

    <form #f="ngForm" (submit)="onUpdate()" enctype="multipart/form-data" novalidate class="form">
      <h3 class="text-light pt-3">Foto perfil:</h3>
      <div>
        <label for="file">
          <i class="fa fa-upload" aria-hidden="true"></i>
          Elja una imagen
        </label>
        <input formControlName="imagen" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png" type="file" id="file"
          name="imagen" [(ngModel)]="details.imagen">
          <img [src]="imageService.url" width="200px" class="text-center">
      </div>

      <div class="mb-3">
        <h3 class="text-light pt-3">Descripcion:</h3>
        <textarea class="form-control" id="exmpleFormControlTextarea1" name="descripcion"
          [(ngModel)]="details.descripcion" rows="3"></textarea>
      </div>
      <div class="btn-cambios pb-2">
        <button type="submit">
          <span>Guardar cambios</span>
        </button>
      </div>
    </form>
  </div>
</div>
