<a>
  <div class="btn-edit" (click)="openEditor()" >
    <i class="fa fa-pencil-square" aria-hidden="true"></i>
  </div>
</a>

<div class="container-editor" [ngClass]="toolEditor ? 'display': ''">
  <div class="tool-editor">
    <div class="btn-edit-close" (click)="closeEditor()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>

    <form [formGroup]="file" (submit)="sendImg()">
      <h3 class="text-light pt-4">Perfil:</h3>
      <label for="file">
        <i class="fa fa-upload" aria-hidden="true"></i>
        Elja una imagen
      </label>
      <input formControlName="imgPerfil" (onFileChanged)="capturandoFile($event)" type="file" id="file">
      <div class="mb-3">
        <h3 class="text-light pt-4">Descripcion:</h3>
        <textarea class="form-control" id="exmpleFormControlTextarea1" rows="3"></textarea>
      </div>
      <h3 class="text-light pt-4">Skills:</h3>
      <label for="file">
        <i class="fa fa-upload" aria-hidden="true"></i>
        Elja un imagen
      </label>
      <input formControlName="imgPerfil" (onFileChanged)="capturandoFile($event)" type="file" id="file">
      <div class="btn-cambios pb-4">
        <button type="submit">
          <span>Guardar cambios</span>
        </button>
      </div>
    </form>
  </div>
</div>
