<div class="container-editor" *ngIf="education">
  <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
    <h3 class="text-light pt-4">Actualizar Educacion</h3>
    <div class="mb-3">
      <h3 class="text-light pt-4" for="nombreE">Título o carrera:</h3>
      <input class="form-control" id="exmpleFormControlTextarea1" rows="1" name="tituloE"
        [(ngModel)]="education.tituloE">
    </div>
    <div class="mb-3">
      <h3 class="text-light pt-4" for="nombreE">Nombre de la institucion:</h3>
      <input class="form-control" id="exmpleFormControlTextarea1" rows="1" name="nombreE"
        [(ngModel)]="education.nombreE">
    </div>
    <div class="mb-3">
      <h3 class="text-light pt-4" for="descripcionE">Descripcion:</h3>
      <input class="form-control" id="exmpleFormControlTextarea1" rows="3" name="descripcionE"
        [(ngModel)]="education.descripcionE">
    </div>
    <div class="btn-cambios pb-4">
      <button type="submit">
        <span>Guardar cambios</span>
      </button>
    </div>
  </form>
</div>
