.container-certificados {
  width: 100%;
  height: auto;
  text-align: center;
  background: #17181c;
  color: #fff;
}

.title-certificados{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.box-btn {
  display: flex;
  justify-content: flex-end;
}

.btn-edit {
  width: auto;
  height: auto;
}

.btn-edit i,
.btn-delete i {
  color: #fff;
  font-size: 24px;
}

.btn-delete {
  width: auto;
  height: auto;
}

.btn-delete i:hover {
  color: red;
}

.container-certificados-png {
  width: 40em;
  height: auto;
  padding: 2em 5em;
  margin-top: 5em;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.item-educacion {
  padding: 2em 0;
}

.items img {
  width: 20rem;
  height: 15rem;
  object-fit: cover;
}

.title-certificados h1 {
  color: #87e1c7;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.title-education {
  color: #fff;
}

.name-education {
  color: #fff;
  line-height: 1.5em;
}

.description-education{

}

/* Responsive tablet */
/* ----------------- */
/* ----------------- */
/* ----------------- */
/* ----------------- */
/* ----------------- */
/* ----------------- */
@media only screen and (max-width: 768px) {
  .container-certificados {
    height: auto;
    padding-left: 79px;
  }

  .box-btn {
    display: flex;
    justify-content: flex-end;
  }
}
/* ----Responsive mobiles L---- */
/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */
@media only screen and (max-width: 425px){
  .container-certificados {
    height: auto;
    padding-left: 79px;
  }

  .box-btn {
    display: flex;
    justify-content: flex-end;
  }

  .container-certificados-png {
    width: 20em;
    height: auto;
    padding: 1em 2.5em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }

  .title-certificados h1{
    font-size: 30px;
  }

  .title-education {
    font-size: medium;
  }

  .name-education {
    font-size:small;
  }

  .description-education{
    font-size: medium;
  }
}

/* ----Responsive mobiles M---- */
/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */
@media only screen and (max-width: 375px){
  .container-certificados {
    height: auto;
  }

  .container-certificados-png {
    width: 20em;
    height: auto;
    padding: 1em 2.5em;
    margin-top: 2em;
  }

  .title-education {
    font-size: 1em;
  }

  .title-education {
    font-size: medium;
  }

  .name-education {
    font-size:small;
  }

  .description-education{
    font-size: medium;
  }
}
/* ----Responsive mobiles S---- */
/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */
@media only screen and (max-width: 320px){
  .container-certificados {
    height: auto;
  }

  .container-certificados-png {
    width: 15em;
    height: auto;
    padding: 1em 2.5em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }

  .title-education {
    font-size: medium;
  }

  .name-education {
    font-size:small;
    font-weight: bold;
  }

  .description-education{
    font-size: medium;
  }
}
