<div class="container-certificados">
  <div class="title-certificados">
    <h1>
      Certificados
    </h1>
  </div>
  <div class="container-certificados-png">
    <div class="items" id="item1">
      <img src="../../../assets/certificados/certificado instroduccion al desarrollo web_page-0001.png">
    </div>
    <div class="items" id="item2">
      <img src="../../../assets/certificados/Certificado HTML5 y CSS3.png">
    </div>
    <div class="items" id="item3">
      <img src="../../../assets/certificados/Certificado JavaScript.png">
    </div>
    <div class="items" id="item4">
      <img src="../../../assets/certificados/CertificadoEducacionIt_page-0001.png">
    </div>
    <div class="items" id="item5">
      <img src="../../../assets/certificados/argentina_programa_octubre_diciembre_2021_page-0001.png">
    </div>
  </div>
</div>
