<div class="container-certificados">
  <h1>
    Certificados
  </h1>
  <div class="box-container">
    <img src="../../../assets/certificados/certificado instroduccion al desarrollo web_page-0001.png">
  </div>
  <div class="box-container">
    <img src="../../../assets/certificados/Certificado HTML5 y CSS3.png">
  </div>
  <div class="box-container">
    <img src="../../../assets/certificados/Certificado JavaScript.png">
  </div>
  <div class="box-container">
    <img src="../../../assets/certificados/CertificadoEducacionIt_page-0001.png">
  </div>
  <div class="box-container">
    <img src="../../../assets/certificados/argentina_programa_octubre_diciembre_2021_page-0001.png">
  </div>
</div>
