<div id="section-contacto">
  <h1 class="text-center" id="title-contactame">Contáctame</h1>
  <div>
    <!--Section: Contact v.2-->
    <section class="mb-4 container-contacto">

      <!--Section heading-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-12 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form" action="mail.php" method="POST">

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <label for="name" class="p-2">Dime tu nombre:</label>
                  <input type="text" id="name" name="name" class="form-control">
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <label for="email" class="p-2">Email:</label>
                  <input type="text" id="email" name="email" class="form-control">
                </div>
              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <label for="subject" class="p-2">Asunto:</label>
                  <input type="text" id="subject" name="subject" class="form-control">
                </div>
              </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-12">

                <div class="md-form">
                  <label for="message" class="p-2">Mensaje:</label>
                  <textarea type="text" id="message" name="message" rows="2"
                    class="form-control md-textarea"></textarea>
                </div>

              </div>
            </div>
            <!--Grid row-->

          </form>

          <div class="text-center btn-cambios">
            <button>
              <span>Enviar</span>
            </button>
          </div>
          <div class="status"></div>
        </div>
        <!--Grid column-->

      </div>

    </section>
    <!--Section: Contact v.2-->

  </div>
</div>
