.contenedor {
  width: 100%;
  height: auto;
  text-align: center;
  background: #17181c;
  color: #fff;
}

.title-portfolio h1 {
  color: #87e1c7;
  font-size: 40px;
  font-weight: bold;
  padding-top: 50px;
}
.btn-add{
  width: auto;
  height: auto;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}

.box-btn{
  display: flex;
  justify-content: flex-end;
}

.btn-edit {
  width: auto;
  height: auto;

}
.btn-delete {
  width: auto;
  height: auto;

}
.btn-edit i {
  color: #fff;
  font-size: 24px;
}
.btn-delete i {
  color: #fff;
  font-size: 24px;
}

.btn-delete i:hover{
  color: red;
}

.container-experiencias {
  width: 40em;
  height: auto;
  padding: 2em 5em;
  margin-top: 5em;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.box-experiencia{
  padding: 2em 0;
}

/* Responsive Tablets */
/* ------------------- */
/* ------------------- */
/* ------------------- */
/* ------------------- */
@media only screen and (max-width: 768px){
  .contenedor {
    padding-left: 79px;
  }

  .box-btn{
    display: flex;
    justify-content: flex-end;
  }
}

/* Responsive Mobiles L */
/* ------------------- */
/* ------------------- */
/* ------------------- */
/* ------------------- */
@media only screen and (max-width: 768px){
  .container-experiencias {
    width: 20em;
    height: auto;
    padding: 1em 2.5em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }

  .title-portfolio h1{
    font-size: 30px;
  }

  .title-experience{
    font-size: medium;
  }
  .name-experience{
    font-size:small;
  }
  .description-experience{
    font-size: medium;
  }
}
