<div class="contenedor">
  <div class="title-portfolio">
    <h1>Experiencia Laboral</h1>
  </div>
  <a routerLink="/newExperience" *ngIf="isLogged">
    <div class="btn-edit">
      <i class="fa fa-plus-square" aria-hidden="true"></i>
    </div>
  </a>
  <div class="container-experiencias">
      <div class="box-experiencia"  *ngFor="let i of expe">
        <a *ngIf="isLogged">
          <div class="btn-edit" >
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
          </div>
        </a>
        <label>Nombre de la empresa:</label>
        <h2>{{i.nombreE}}</h2>
        <p>
          {{i.descripcionE}}
        </p>

      </div>
  </div>
</div>
