.contenedor {
  width: 100%;
  height: auto;
  text-align: center;
  background: #17181c;
  color: #fff;
}

.title-portfolio h1 {
  color: #87e1c7;
  font-size: 40px;
  font-weight: bold;
  padding-top: 50px;
}

.btn-edit {
  width: auto;
  height: auto;
  position: absolute;
  right: 38%;
  cursor: pointer;
}

.btn-edit i {
  color: #fff;
  font-size: 24px;
}

.container-experiencias {
  width: 40em;
  height: auto;
  padding: 2em 5em;
  margin-top: 5em;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.box-experiencia{
  padding: 2em 0;
}
