#section-sobre-mi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #17181c;
  height: auto;
  padding-left: 79px;
}

#container-sobre-mi {
  width: auto;
}

#mode-edit {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-right: 25%;
}

#svg-pen {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#section-sobre-mi h1 {
  color: #87e1c7;
  font-size: 40px;
  font-weight: bold;
  padding-top: 50px;
}

#section-sobre-mi h3 {
  color: #fff;
  font-weight: bold;
}

.img-perfil {
  display: flex;
  justify-content: center;

}

.img-perfil img {
  width: 20%;
  border-radius: 40px;
  object-fit: cover;
}

#section-sobre-mi p {
  width: 60%;
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: justify;
  font-weight: lighter;
  padding-top: 10px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container-btn-dowload {
  display: flex;
  justify-content: space-around;
}

#dowload-cv {
  --color: #5e4dab;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

#dowload-cv::before,
#dowload-cv::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

#dowload-cv::before {
  top: -1em;
  left: -1em;
}

#dowload-cv::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

#dowload-cv:hover::before,
#dowload-cv:hover::after {
  height: 410px;
  width: 410px;
}

#dowload-cv:hover {
  color: rgb(10, 25, 30);
}

#dowload-cv:active {
  filter: brightness(.8);
}

.btn-edit {
  width: auto;
  height: auto;

}

.btn-delete {
  width: auto;
  height: auto;

}

.btn-edit i {
  color: #fff;
  font-size: 24px;
}

.btn-delete i {
  color: #fff;
  font-size: 24px;
}

.btn-delete i:hover {
  color: red;
}

#section-skills h1 {
  font-size: 40px;
  font-weight: bold;
  color: #87e1c7;
  padding-top: 50px;
}

#section-skills h2 {
  color: #fff;
  margin-left: 16.5625rem;
}

#container-skills {
  height: 100%;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  text-align: center;
}

.container-btn-skills {
  width: auto;
  height: auto;
  display: flex;
  justify-content: end;
  margin-right: 3em;
}


/* Responsive Tablet */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */

@media only screen and (max-width: 768px) {
  .container-sobre-mi {
    width: auto;
  }

  #section-sobre-mi h3 {
    color: #fff;
    font-weight: bold;
  }

  .img-perfil {
    display: flex;
    justify-content: center;

  }

  .img-perfil img {
    width: 20%;
    border-radius: 30%;
    object-fit: cover;
  }

  .container-btn-dowload {
    display: flex;
    justify-content: space-around;
  }

  #container-skills {
    gap: 0;
    grid-template-columns: 1fr 1fr;
  }
}

/* Responsive Mobiles L */
/* -------------------- */
/* -------------------- */
/* -------------------- */
/* -------------------- */
@media only screen and (max-width: 425px) {
  #section-sobre-mi h1 {
    font-size: 30px;
  }

  #section-sobre-mi h3 {
    color: #fff;
    font-weight: bold;
  }

  .img-perfil {
    display: flex;
    justify-content: center;

  }

  .img-perfil img {
    width: 30%;
    border-radius: 30%;
    object-fit: cover;
  }

  #section-sobre-mi p {
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: justify;
  }

  .container-btn-dowload {
    display: flex;
    justify-content: space-around;
  }

  #container-skills {
    height: 100%;
    gap: 0;
    grid-template-columns: 1fr;
  }
}

/* Responsive Mobiles M */
/* -------------------- */
/* -------------------- */
/* -------------------- */
/* -------------------- */
@media only screen and (max-width: 375px) {
  #section-sobre-mi h1 {
    font-size: 25px;
  }

  #section-sobre-mi h3 {
    color: #fff;
    font-weight: bold;
  }

  .img-perfil {
    display: flex;
    justify-content: center;
  }

  .img-perfil img {
    width: 30%;
    border-radius: 30%;
    object-fit: cover;
  }

  #section-sobre-mi p {
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: justify;
  }

  .container-btn-dowload {
    display: flex;
    justify-content: space-around;
  }

  #container-skills {
    height: 100%;
    gap: 0;
    grid-template-columns: 1fr;
  }
}

/* Responsive Mobiles S */
/* -------------------- */
/* -------------------- */
/* -------------------- */
/* -------------------- */
@media only screen and (max-width: 320px) {
  #section-sobre-mi h1 {
    width: 100%;
    font-size: 20px;
  }

  #section-sobre-mi h3 {
    color: #fff;
    font-weight: bold;
  }

  .img-perfil {
    display: flex;
    justify-content: center;
  }

  .img-perfil img {
    width: 30%;
    border-radius: 30%;
    object-fit: cover;
  }

  #section-sobre-mi p {
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: justify;
  }

  .container-btn-dowload {
    display: flex;
    justify-content: space-around;
  }

  #container-skills {
    height: 100%;
    gap: 0;
    grid-template-columns: 1fr;
  }
}
