<div id="section-sobre-mi">
  <h1 class="text-center" id="titulo-sobre-mi">Sobre mí</h1>
  <!-- <app-button-edit>
  </app-button-edit> -->
  <div class="container-sobre-mi">
    <div class="img-perfil">
      <img src="../../../assets/perfil-cv.jpg">
    </div>
    <p class="text-center">
      {{sobreMi.description}}
    </p>
  </div>
  <a href="../../../assets/ALexis Joaquin Orozco-CV.pdf" download="AlexisJoaquinOrozco-CV" id="dowload-cv" class="btn btn-danger">Descargar CV</a>
</div>
<div id="section-skills">
  <h1 class="text-center">Skills</h1>
  <!-- <app-button-edit>
  </app-button-edit> -->
  <div id="container-skills">
    <dl>
      <dt>Desarrollo:</dt>
      <dd>
        <img
            class="svg-skill"
            src="../../../assets/html5.svg">
          <img
            class="svg-skill"
            src="../../../assets/javascript.svg">
          <img
            class="svg-skill"
            src="../../../assets/css3.svg">
      </dd>
      <dt>Framework:</dt>
      <dd>
        <img
            class="svg-skill"
            src="../../../assets/bootstrap-5-1.svg">
        <img
            class="svg-skill"
            src="../../../assets/angular_coding_development_front-end_javascript_logo_web_icon.svg">
      </dd>
      <dt>Tools:</dt>
      <dd>
        <img
            class="svg-skill"
            src="../../../assets/git.svg">
        <img
            class="svg-skill"
            src="../../../assets/visual-studio-code-1.svg">
      </dd>
    </dl>
  </div>
</div>
