<div id="section-sobre-mi" *ngFor="let dataMy of sobreMi">
  <h1 class="text-center" id="titulo-sobre-mi">Sobre mí</h1>
  <app-button-edit>
  </app-button-edit>
  <div class="container-sobre-mi">
    <div class="img-perfil">
      <img [src]="dataMy.file">
    </div>
    <p class="text-center">
      {{dataMy.description}}
    </p>
  </div>
  <a
    href="../../../assets/ALexis Joaquin Orozco-CV.pdf"
    download="AlexisJoaquinOrozco-CV"
    id="dowload-cv"
    class="btn btn-danger">
    {{buttonDowload}}
  </a>
<div id="section-skills" *ngFor="let data of skills">
      <h1 class="text-center">{{data.title}}</h1>
      <h2>{{data.titulo}}</h2>
  <div id="container-skills"  >
    <dl>
      <dd>
        <img *ngFor="let src of data.img"
            class="svg-skill"
            [src]="src"
            alt="SVG-Skill">
      </dd>
    </dl>
  </div>
</div>
