<div class="container-form">
    <form [formGroup]="formulario"
          class="form"
          (submit)="send()"
     >
      <h1>
        Iniciar Sesión
      </h1>
      <div>
        <label for="email">Email:</label>
        <input
          class="form-control"
          type="text"
          id="email"
          formControlName="username"
          >
      </div>
      <div>
        <label for="email">Password:</label>
        <input
        class="form-control"
        type="password"
        formControlName="password"
        >
      </div>
      <div class="btn-send">
        <button [disabled]="formulario.invalid">Enviar</button>
      </div>
      <div class="container-validacion">
        <p>Esta seccion es exclusivo para el desarrollador haz click
          <a href="">aquí</a>
          para volver
        </p>
      </div>
    </form>
</div>

