<header id="header">
  <nav>
    <!-- <div class="toggle-btn">
      <span></span>
      <span></span>
      <span></span>
    </div> -->
      <ul>
          <a class="links" id="home" routerLink="/home">
              <li>Home</li>
          </a>
          <a class="links" id="sobre-mi" routerLink="/sobre-mi">
              <li>Sobre mí</li>
          </a>
          <a class="links" id="sobre-mi" routerLink="/educacion">
              <li>Educación</li>
          </a>
          <a class="links" id="proyectos" routerLink="/portafolios">
              <li>Portafolios</li>
          </a>
          <a class="links" id="contacto" routerLink="/contacto">
              <li>Contacto</li>
          </a>
      </ul>
      <footer id="footer">
          <p class="text-center">Hecho por Joaquín Orozco</p>
      </footer>
  </nav>
</header>
