<a class="btn-edit">
  <div class="btn-edit" (click)="openEditor()" >
    <i class="fa fa-pencil-square" aria-hidden="true"></i>
  </div>
</a>

<div class="container-editor" [ngClass]="toolEditor ? 'display': ''">
  <div class="tool-editor">
    <div class="btn-edit-close" (click)="closeEditor()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>

    <form [formGroup]="file" (submit)="sendImg()">
      <label for="file">
        <i class="fa fa-upload" aria-hidden="true"></i>
        Elja una imagen
      </label>
      <input formControlName="imgPerfil" (onFileChanged)="capturandoFile($event)" type="file" id="file">
      <div class="btn-cambios">
        <button type="submit">
          <span>Guardar cambios</span>
        </button>
      </div>
    </form>
  </div>
</div>

